* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 80px 80px 0;
  width: 1280px;
  background-color: #F5F4F0;
  color: #333333;
  font-family: "Open Sans", sans-serif;
}

.headline {
  font-weight: bold;
  text-transform: uppercase;
  color: #E1624F;
}

h1, h2, h3 {
  color: #1B1B1B;
}

h1 {
  margin: 8px 0 44px;
  font-size: 36px;
}

h2 {
  margin: 2px 0 8px;
  font-size: 32px;
}

h3 {
  margin: 20px 0 4px;
  font-size: 28px;
}

img:not(footer img) {
  border-radius: 28px;
  width: 100%;
  object-fit: cover;
}

header img {
  height: 660px;
}

header p {
  margin: 24px 0 40px;
  text-align: center;
  font-style: italic;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #D9D9D9;
}

main {
  margin-top: 64px;
}

main img {
  height: 350px;
}

section {
  margin-bottom: 16px;
}

article img {
  margin-top: 48px;
}

span:has(+ ul) {
  font-weight: bold;
}

ul {
  margin-left: 24px;
}

li {
  font-weight: bold;
}

li:nth-child(1) {
  color: #0C51A7;
}
li:nth-child(2) {
  color: #E5245E;
}
li:nth-child(3) {
  color: #E95E10;
}

article + .divider {
  margin: 40px 0 40px;
}

.divider + p {
  text-align: center;
}

footer {
  margin: 64px 0 48px;
  font-family: "Alice", serif;
  text-align: center;
}

footer img {
  vertical-align: middle;
}